<form>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="nome">Nome Completo</label>
            <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo">
        </div>
        <br />
        <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="email">
        </div>
    </div>
    <br />
    <div class="form-group  col-md-4">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha">
    </div>
    <br />
    <div class="form-group  col-md-4">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" id="telefone" placeholder="(19) 12345 - 6789">
    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="RA">RA:</label>
            <input type="text" class="form-control" id="ra" placeholder="1234/56-7">
        </div>
    </div>
       <br/>
    <button type="submit" class="btn btn-primary">Cadastrar-se</button>
</form>